.scan-area {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  top: 50%;
  color: #ffffff;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  bottom: 5%;
  color: #ffffff;
}
