@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f2f2f2;
  height: 100%;
}

@font-face {
  font-family: "plus-jakarta";
  src: local("plus-jakarta"),
    url(./assets/fonts/PlusJakartaSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "plus-jakarta-medium";
  src: local("plus-jakarta-medium"),
    url(./assets/fonts/PlusJakartaSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "plus-jakarta-bold";
  src: local("plus-jakarta-bold"),
    url(./assets/fonts/PlusJakartaSans-Bold.ttf) format("truetype");
}

.link {
  text-decoration: none;
}

body {
  margin: auto;
  font-family: "plus-jakarta";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f5f7;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  color: #332919;
}

p,
h2,
span,
label {
  font-size: 0.75rem;
}

.header {
  z-index: 101;
  width: auto;
}

.container {
  padding: 16px 20px;
  /* height: 90vh;
  position: relative; */
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media only screen and (max-width: 360px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  body {
    width: 480px;
  }
}
