@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f2f2f2;
  height: 100%;
}

@font-face {
  font-family: 'roboto';
  src: local('roboto'),
    url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-medium';
  src: local('roboto-medium'),
    url(./assets/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'roboto-bold';
  src: local('roboto-bold'),
    url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
}

.link {
  text-decoration: none;
}

body {
  margin: auto;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  
}

@media only screen and (max-width: 360px) {
  body {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  body {
    width: 480px;
  }
}
